/*!
 * map页面css代码。
 */


/* 登陆页面 - 背景径向渐变
   ========================================================================== */

html,
body {
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    min-width: 1024px;
    height: 100%;
    /* 使用rem做为响应式字体单位，如：1.4rem = 14px */
}

body {
    background: -webkit-radial-gradient(0px 0px circle, rgba(255, 121, 197, .75) 2.5%, rgb(95, 125, 187) 35%, rgb(153, 222, 238) 75%);
    background: radial-gradient(circle at 0px 0px, rgba(255, 121, 197, .75) 2.5%, rgb(95, 125, 187) 35%, rgb(153, 222, 238) 75%);
}


/* site-layout 布局样式
   ========================================================================== */

.site-layout {
    overflow: hidden;
    *zoom: 1;
}

.site-layout__content,
.site-layout__sidebar {
    background-color: transparent;
}

.site-layout__sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 240px;
    -webkit-transition: width .75s;
    transition: width .75s;
    background-color: rgba(51, 51, 51, .4);
}

.site-layout__sidebar.site-layout__sidebar--collapse {
    width: 40px;
    -webkit-transition: width .75s;
    transition: width .75s;
}

.site-layout__content {
    box-sizing: border-box;
    margin-left: 240px;
    -webkit-transition: margin-left .75s;
    transition: margin-left .75s;
}

.site-layout__content.site-layout__content--collapse {
    margin-left: 40px;
    -webkit-transition: margin-left .75s;
    transition: margin-left .75s;
}

.site-layout__content.site-layout__content--collapse .map-legend {
    left: 60px;
    transition: left .75s;
}


/* sidebar-lists 样式
   ========================================================================== */

.sidebar-lists {
    margin-top: 25px;
    padding: 0;
    list-style: none;
}

.sidebar-lists .list-item {
    display: block;
    width: 100%;
    padding: 25px 5px;
}

.sidebar-lists .list-item:hover {
    -webkit-transition: background-color .75s;
    transition: background-color .75s;
    background-color: rgba(51, 51, 51, .8);
}

.sidebar-lists .list-item > a {
    text-decoration: none;
    color: #fff;
}

.list-item__icon,
.list-item__title {
    display: block;
    width: 100%;
    text-align: center;
}

.list-item__icon {
    font-size: 2rem;
}

.list-item__title {
    font-size: 1.4rem;
}

.sidebar-lists__collapse {
    font-size: 1.4rem;
    line-height: 20px;
    position: relative;
    z-index: 100;
    left: 0;
    float: right;
    box-sizing: border-box;
    width: 25px;
    padding: 3px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 1px solid #a797cd;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #4389c7;
}

sidebar-lists__collapse:hover {
    cursor: pointer;
}


/* map 样式
   ========================================================================== */

#map {
    font-family: '微软雅黑';
    position: relative;
    overflow: hidden;
    margin: 0;
    opacity: .65;
}


/**
 * 去掉logo信息
 */

.anchorBL {
    display: none;
}


/* map-control__showCityName
   ========================================================================== */

.map-control__showCityName {
    position: absolute;
    top: 30px;
    left: -120px;
    height: 30px;
    -webkit-transition: right .5s ease;
    transition: right .5s ease;
    color: #fff;
}

.toggle-label {
    font-size: 0;
    line-height: 28px;
    display: block;
    overflow: hidden;
    width: 78px;
    height: 30px;
    margin: 0 3px;
    cursor: pointer;
    text-decoration: none;
    color: #c3ced5;
    border: 1px solid #c3ced5;
    background: transparent;
}

.toggle-label.toggle-label--on .toggle-label__onLabel {
    margin-left: 0;
}

.toggle-label__wrapper {
    width: 200px;
    height: 28px;
    text-align: left;
}

.toggle-label__onLabel {
    font-size: 1.2rem;
    float: left;
    width: 28px;
    height: 28px;
    margin-left: -28px;
    -webkit-transition: margin 200ms ease;
    transition: margin 200ms ease;
    text-align: center;
    color: #fff;
    background-color: #0071c6;
}

.toggle-label__name {
    font-size: 1.2rem;
    line-height: 28px;
    float: left;
    width: 50px;
    height: 28px;
    text-align: center;
    color: #c3ced5;
}

.toggle-label__offLabel {
    font-size: 1.2rem;
    float: left;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #fff;
    background-color: #536176;
}

.toggle-label__offLabel:hover {
    color: #fff;
}


/* map-side
   ========================================================================== */

.map-side {
    position: absolute;
    top: 70px;
    right: -320px;
    bottom: 0;
    width: 319px;
    -webkit-transition: right .5s ease;
    transition: right .5s ease;
    color: #fff;
    border-left: 1px solid #1a1a1a;
}

.map-side.map-side--open {
    right: 0;
}

.map-side__conent {
    height: 100%;
}

.map-side__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 319px;
    height: 100%;
    opacity: .7;
    background-color: #21262d;
}

.map-side__toggle {
    position: absolute;
    top: 50%;
    left: -16px;
    display: block;
    overflow: hidden;
    width: 15px;
    height: 70px;
    margin-top: -35px;
    cursor: pointer;
    text-decoration: none;
    background-color: #4389c7;
    background-repeat: no-repeat;
}

.map-side--openmap-side__toggle:hover {
    background-color: #d34b38;
}

.map-side__toggle:before {
    position: absolute;
    top: 30px;
    left: -2px;
    content: ' ';
    border-width: 6px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.map-side--open .map-side__toggle:before {
    position: absolute;
    top: 30px;
    left: 5px;
    content: ' ';
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.map-side--open .map-side__toggle:after {
    position: absolute;
    top: 30px;
    left: 3px;
    content: ' ';
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #4389c7;
}


/* info-box
   ========================================================================== */

.info-box {
    font-size: 1.6rem;
    position: relative;
    overflow: auto;
    height: 100%;
}

.info-box__dropList {
    padding: 18px 20px;
}

.info-box__dropList button {
    color: #fff;
    background: #0e2c45;
}

.info-box__dropList button:hover,
.info-box__dropList button:active,
.info-box__dropList button:focus {
    color: #fff;
    background: #0e2c45;
}

.info-box__title {
    font-size: 2rem;
    line-height: 50px;
    overflow: hidden;
    height: 50px;
    padding: 0 20px;
    text-align: left;
}

.info-box .dropdown-menu {
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
    padding: 10px;
    text-overflow: ellipsis;
    color: #fff;
    background: #0e2c45;
}

.info-box .dropdown-menu a {
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}

.info-box__siteDetail {
    padding: 0 20px 40px 20px;
    border-bottom: 1px solid #fff;
}

.info-box__basicInfo {
    padding: 30px 20px;
    border-bottom: 1px solid #fff;
}

.info-box__basicInfo > div {
    margin-bottom: 10px;
}

.info-box__paramsInfo {
    padding: 20px 30px;
}

.info-box__paramsInfo > .info-box__paramsInfo__item {
    line-height: 28px;
    padding: 10px 0;
}

.info-box__paramsInfo > .info-box__paramsInfo__item > span.label {
    line-height: 28px;
    float: right;
    width: 120px;
    text-align: center;
}


/* map-legend
   ========================================================================== */

.map-legend {
    position: absolute;
    bottom: 15px;
    left: 260px;
    width: 500px;
    height: 70px;
    transition: left .75s;
}

.map-legend__title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
}

.map-legend__mask {
    width: 500px;
    height: 100%;
    opacity: .7;
    background-color: #21262d;
}

.map-legend__content {
    position: absolute;
    top: 40px;
    left: 0;
}

.map-legend__content > ul {
    display: inline-block;
    list-style: none;
}

.map-legend__content > ul > li {
    display: inline-block;
    padding-right: 15px;
    list-style: none;
}

.map-legend__content > ul > li > span {
    color: #fff;
}

.map-legend__content .fa {
    font-size: 2.5rem;
    margin-right: 5px;
}

.map-legend__content .fa-0 {
    color: #dbdbdb;
}

.map-legend__content .fa-1 {
    color: #23e25d;
}

.map-legend__content .fa-2 {
    color: #ffc100;
}

.map-legend__content .fa-3 {
    color: #f60;
}

.map-legend__content .fa-4 {
    color: #f00;
}

.map-legend__content .fa-5 {
    color: #c132d8;
}

.map-legend__content .fa-6 {
    color: #b3291b;
}
