    html,
body
{
    width: 100%;
    height: 100%;
}
/* 背景径向渐变
   ========================================================================== */

/* body {
        background: radial-gradient(circle at 0px 0px, rgba(255, 121, 197, .75) 2.5%, rgb(95, 125, 187) 35%, rgb(153, 222, 238) 75%);
    } */
/* baiduMap
   ========================================================================== */
.map-style
{
    opacity: .65;
}

.anchorBL
{
    display: none;
}

.BMap_stdMpZoom
{
    width: 71px!important;
    height: 35px!important;
}

.BMap_stdMpType4 .BMap_stdMpZoom
{
    top: auto!important;
    right: 0;
    bottom: 0;
}

.BMap_stdMpType4 .BMap_stdMpZoomIn
{
    position: absolute!important;
}

.BMap_stdMpType4 .BMap_button.BMap_stdMpZoomOut
{
    position: absolute!important;
    top: 0!important;
    right: 1px!important;
    left: auto!important;
}
/* navbar-default
   ========================================================================== */

.navbar-default
{
    background: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form
{
    color: #fff;
    border-color: rgba(255, 255, 255, .2);
}

.navbar-default .navbar-nav > li > a
{
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a
{
    color: #fff;
}

.navbar-collapse
{
    color: #fff;
    background: rgba(0, 0, 0, .3);
}
/* navbar-header
   ========================================================================== */

.navbar-header
{
    background: rgba(0, 0, 0, .3);
}

.navbar-toggle
{
    float: left;

    margin-left: 15px;

    color: #fff;
    border: none;
}

.navbar-toggle.navbar-refresh
{
    float: right;

    margin-right: 15px;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
    background-color: rgba(51, 51, 51, .8);
}

.navbar-default
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;

    margin: 0;

    border: none;
}
/* .site-content
   ========================================================================== */

.site-content
{
    margin-top: 54px;
}
/* .site-legend
   ========================================================================== */
.site-legend
{
    color: #fff;
    background-color: rgba(51, 51, 51, .8);
}

.site-legend__title
{
    padding: 5px 10px 4px;
}

.site-legend__content
{
    display: -webkit-flex;

    margin: 0;
    padding: 5px 10px;

    list-style: none;
    /* 容器显示属性 */

    -webkit-flex-wrap: wrap;
    /* 容器内元素可换行 */
    -webkit-justify-content: space-between;
    /* 间距平分 */
}

.site-legend__content > li
{
    display: inline-block;

    margin: 0 0 5px 0;
    /* 调节封面之间的原始间距
}
*/
}
