@font-face
{
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url('font/icomoon.eot?ov1byh');
    src: url('font/icomoon.eot?ov1byh#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?ov1byh') format('truetype'),
    url('font/icomoon.woff?ov1byh') format('woff'),
    url('font/icomoon.svg?ov1byh#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-']
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before
{
    content: '\e913';
}
.icon-baojing:before
{
    content: '\e900';
}
.icon-caidan:before
{
    content: '\e901';
}
.icon-cuowu:before
{
    content: '\e902';
}
.icon-dingwei:before
{
    content: '\e903';
}
.icon-jiance:before
{
    content: '\e904';
}
.icon-jiantou:before
{
    content: '\e905';
}
.icon-lishi:before
{
    content: '\e906';
}
.icon-map:before
{
    content: '\e907';
}
.icon-map1:before
{
    content: '\e908';
}
.icon-rili:before
{
    content: '\e909';
}
.icon-shaixuan:before
{
    content: '\e90a';
}
.icon-shanjiao:before
{
    content: '\e90b';
}
.icon-shuaxing:before
{
    content: '\e90c';
}
.icon-shuizhi:before
{
    content: '\e90d';
}
.icon-shuju:before
{
    content: '\e90e';
}
.icon-tubiao:before
{
    content: '\e90f';
}
.icon-wifi:before
{
    content: '\e910';
}
.icon-zhexian:before
{
    content: '\e911';
}
.icon-ziliao:before
{
    content: '\e912';
}
